img .partener{
	height: 10px;
	width: 10px;
}
.logo-partner{
	opacity: 0.7;
	margin: 2em;
}
.logo-partner:hover{
	opacity: 1;
}
.nav-tabs>li.active>a .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:visited{
	background-color: #0b3468;
	color: white;
}

