img .partener{
	height: 10px;
	width: 10px;
}
.logo-partner{
	opacity: 0.7;
	margin: 2em;
}
.logo-partner:hover{
	opacity: 1;
}
.nav-tabs>li.active>a .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:visited{
	background-color: #0b3468;
	color: white;
}
hr {
	margin: 0;
}
#festival{
	/*background-color: #fff;*/
	background-image: url(../img/pattern/mooning.png);
}

#festivalContent{
	background-color: #f3f8fc;
}
.programmeForum{
	border-bottom: solid 0.2em #000; 
	width: 100%;
}

.bloc-programme1{
	background-color : #F3F3F3;
	margin-top: 1em;
	padding-top: 3em;
	padding-bottom: 3em;
	padding-right: 1.5em;
	padding-left: 1.5em;
	border-right: solid 0.2em #C8A461;
	border-radius: 0.5em;
}

.bloc-programme2{
	background-color : #F8F8F8;
	margin-top: 1em;
	padding-right: 1.5em;
	padding-left: 1.5em;
	border-right: solid 0.2em #C8A461;
	border-radius: 0.5em;
}
.bloc-programme3{
	background-color : #F3F3F3;
	margin-top: 1em;
	padding-right: 1.5em;
	padding-left: 1.5em;
	border-right: solid 0.2em #C8A461;
	border-radius: 0.5em;
}

.paragpheProgramme{
    margin-left: 1em;
    font-size: 12px;
    font-family: Roboto Slab;
    text-align: justify;
}
.texteProgramme{
	margin-top: 1em;
    font-size: 12px;
    font-family: Roboto Slab;
    text-align: justify;
    background-color : #F8F8F8;
	border-top: solid 0.2em #C8A461;
	padding-right: 1.5em;
	padding-left: 1.5em;
	border-radius: 0.5em;
}
.texteProgrammeFestival{
	margin-top: 1em;
    font-size: 12px;
    font-family: Roboto Slab;
    text-align: justify;
    background-color : #F8F8F8;
	border-right: solid 0.2em;
	padding-top: 1.2em;
	padding-right: 1.5em;
	padding-left: 1.5em;
	padding-bottom: 1.2em;
	border-radius: 0.5em;
}

.bold-color{
    color: #0b3468; 
}

.bold-color-gold{
    color: #C8A461;
    
}
.bold-color-lg{
    font-size: 12px;
    color: #0b3468;
}
.bold-color-hour{
	color: #0b3468;
	font-size: 12px;
}
aside {
    float: right;
    text-align: right;
    margin-left: 2em;
}
.pdf-link{
    border: 1px solid #0b3468;
    border-radius: 0.3em;
    padding-left: 0.8em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin: 0.5em;
    font-size:1em;
}
.pdf-link:hover,.pdf-link:active{
    
    background-color: #0b3468;
    border-radius: 0.3em;
    padding-left: 0.8em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    color: #fff;
}
.bloc_contact{
	background-color: #F8F8F8;
	opacity: 0.9;
	
	padding: 2em;
	border-radius: 0.3em;
}
.bloc_universite{
	background-color: #F8F8F8;
	opacity: 0.9;
	padding: 2em;
	border-radius: 0.3em;
}
.bloc_formation{
	background-color: #F8F8F8;
	opacity: 1;
	padding: 2em;
	border-radius: 0.3em;
}


#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background-color: #0b3468;
    opacity: 0.7;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background-color: #0b3468;
    opacity: 0.9;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
